* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box {
  position: relative;
  z-index: 1000;
  overflow: hidden;
}

.invisibleBox {
  height: 0px !important;
  visibility: hidden;
}

.visibleBox {
  height: 400px !important;
  visibility: visible;
}

.container {
  transition: all 0.5s ease-in-out;
  width: 500px !important;
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.calendarRowContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.calendarRow {
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: center;
}

.calendarItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px !important;
  width: 40px !important;
  margin: 0px 5px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.calendarItemDisabled {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px !important;
  width: 40px !important;
  margin: 0px 5px;
}

.calendarDayInitial {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px !important;
  width: 40px !important;
  margin: 0px 5px;
  cursor: initial;
}

.calendarItem:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 5px;
}

.calendarTopContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  margin: 15px 0;
}

.calendarButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  cursor: pointer;
}

.calendarBetweenDate {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  cursor: pointer;
}

.checkInDate {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 5px;
}
